!!!
%html
  %head
    %title Wave
    != css "application"
    != js  "application"
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{href: "#"} Wave
    .container
      #wave